.title{
    margin: 2rem 0;
    font-size: 3rem;
}

.return{
    padding: 0;
}

.checkout-button{
    margin: 0.2rem;
    padding: 0.2rem 0.6rem;
    color: white;
    background-color: orange;
    font-size: 1.2rem;
}