.purchaseRecord.title{
    margin: 8rem 0 0 4rem;
    text-align: left;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-transform: none;
    font-weight: normal;
    margin-bottom: 2rem;
}

