.heading{
    background-color: rgb(47, 46, 46);
    padding-left: 2rem;
}
.upper{
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 1fr;
}

@media (max-width: 768px) {
    .purchase-container {
        display: flex;
        flex-direction: row !important;
    }

    .badge {
        padding: 0.8rem !important;
    }

    .total, .purchaseId{
        font-size: 1.2rem !important;
    }

    .index{
        font-size: 1.8rem !important;
    }
}

.shipping, .purchaseId{
    /* font-size: 1.2rem; */
    /* padding: 0.5rem 0 0 2rem; */
    margin: 0;
}

.index{
    font-size: 2.5rem;
}

.total, .purchaseId{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.separator{
    height: 1rem;
    width: inherit;
    background-color: gray;
}

.badge {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}